*{
  margin:0;
  overflow:hidden;
}

a{
  color:transparent;
  text-decoration:none;
  font-size:3rem;
  width:3rem;
}

body{
  height: 100%;
}

footer{
  position:absolute;
  width:100%;
  height:23%;
  bottom:0;
}

.hidden{
  transform:translateY(100%);
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transition: all 0.8s ease-in;
}

.visible{
  transform:translateY(0);
}

footer .link{
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: horizontal;
 -webkit-box-direction: normal;
 -ms-flex-direction: row;
         flex-direction: row;
 -webkit-box-pack: center;
 -ms-flex-pack: center;
         justify-content: center;
  color: white;
}

footer .link .svg{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 4rem;
}

.copyright{
  font:0.7rem courier;
  position: absolute;
  right:0;
  bottom:0;
  color:white;
}

.github{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
          align-items:center;
  background-image: url("../img/github.svg");
  margin-left:1rem;
}

.linkedin{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack:center;
  -ms-flex-pack:center;
          justify-content:center;
  -webkit-box-align:center;
  -ms-flex-align:center;
          align-items:center;
  background-image: url("../img/linkedin.svg");
  margin-right:1rem;
}

#matrix{
 color:white;
 background-color:#000;
 display:block;
}


